<app-navbar></app-navbar>
<div class="m-4">

  <div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addStudentModalLabel">Student Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="stName" [(ngModel)]="stName" name="stName" placeholder="Enter your name">
            </div>
            <div class="col-md-6">
              <label for="dob" class="form-label">DOB</label>
              <input type="text" class="form-control" id="dob" [(ngModel)]="dob" name="dob" placeholder="Enter your date of birth">
            </div>
            <div class="col-md-6">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email">
            </div>
            <div class="col-md-6">
              <label for="contactNumber" class="form-label">Contact Number</label>
              <input type="text" class="form-control" id="contactNumber" [(ngModel)]="contactNumber" name="contactNumber" placeholder="Enter your contact number">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Enter your address" [(ngModel)]="address" name="address">
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary px-4 w-100" (click)="save()" style="font-weight: 600;">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="add_container m-3">
    <div class="card p-3">
      <h3 class="text-center">Add Student</h3>
      <hr>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="stName" [(ngModel)]="stName" name="stName" placeholder="Enter your name">
        </div>
        <div class="col-md-6">
          <label for="dob" class="form-label">DOB</label>
          <input type="text" class="form-control" id="dob" [(ngModel)]="dob" name="dob" placeholder="Enter your date of birth">
        </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email">
        </div>
        <div class="col-md-6">
          <label for="contactNumber" class="form-label">Contact Number</label>
          <input type="text" class="form-control" id="contactNumber" [(ngModel)]="contactNumber" name="contactNumber" placeholder="Enter your contact number">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter your address" [(ngModel)]="address" name="address">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-sm btn-primary px-4" (click)="save()">Add</button>
        </div>
      </form>
    </div>
  </div> -->


  <h3 class="text-center mb-3">Student List</h3>
  <div class="list-container d-flex justify-content-center">
    <table class="table table-bordered table-striped w-75">
      <thead>
        <p *ngIf="!isResultLoaded">Loading..</p>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Student Name</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Address</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let StudentItem of StudentArray">
          <td>{{ StudentItem.id }}</td>
          <td>{{ StudentItem.stName }}</td>
          <td>{{ StudentItem.dob }}</td>
          <td>{{ StudentItem.address }}</td>
          <td>{{ StudentItem.contactNumber }}</td>
          <td>{{ StudentItem.email }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#addStudentModal" (click)="setUpdate(StudentItem)"><i class="fas fa-edit" style="margin-right: 5px;"></i>Edit</button>
            <button type="button" class="btn btn-sm btn-outline-danger m-2" (click)="setDelete(StudentItem)"><i class="fas fa-trash" style="margin-right: 5px;"></i>Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>



</div>


